.primary-color {
    color: var(--color-primary);
}

.primary-underlined {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 30%;
        width: 110%;
        bottom: 4%;
        left: -5%;
        z-index: -1;
        background-color: var(--color-primary-container);

        transition-duration: .3s;
        transition-property: height;
    }

    &:hover {
        &::before {
            height: 40%;
        }
    }
}

.underline {
    text-decoration: underline;
}