@use 'base/reset';
@use 'base/typography';
@use 'base/variables' as vars;
@use 'base/theme';

@use 'utilities/mixins';
@use 'utilities/layouts';
@use 'utilities/utilities';

@use 'components/buttons';
@use 'components/answers-table';

@use 'pages/home';

* {
    font-family: vars.$primary_font;
    color: var(--color-on-surface);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    background-color: var(--color-surface);
}

h1, h2, h3 {
    font-weight: 700;
}

a, button {
    &:hover {
        cursor: pointer;
    }
}